<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="/admin/layui::html" ></head>
<body>
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a lay-href="/" layadmin-event="message" lay-text="消息中心">
                    <i class="layui-icon layui-icon-notice"></i>

                    <!-- 如果有新消息，则显示小圆点 -->
                    <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <li class="layui-nav-item " lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <li style="display:none;" class="layui-nav-item layui-hide-xs" lay-unselect>
                    <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs  removecache" lay-unselect>
                    <a href="javascript:" title="清理网站缓存">
                        <i class="layui-icon layui-icon-delete"></i>
                    </a>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite>@ViewBag.admin.user_name</cite>
                    </a>
                    <dl class="layui-nav-child">

                        <dd><a lay-href="/">基本资料</a></dd>
                        <dd><a lay-href="/">修改密码</a></dd>

                        <hr>
                        <dd  lay-filter="logout" class="logout" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="/" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>首页
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>后台管理系统</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">

                        <li th:each="entries,stat:${MenuList}"  data-name="component" class="layui-nav-item">
                            <a th:if="${entries['parentId']}==0" href="javascript:;" th:lay-tips=" ${entries['name']}" lay-direction="2" th:switch="${stat.index}">
                                <i th:case="0" class="layui-icon layui-icon-component" ></i>
                                <i th:case="1" class="layui-icon layui-icon-template" ></i>
                                <i th:case="2" class="layui-icon layui-icon-app" ></i>
                                <i th:case="3" class="layui-icon layui-icon-user" ></i>
                                <i th:case="4" class="layui-icon layui-icon-set" ></i>
                                <i th:case="5" class="layui-icon layui-icon-senior" ></i>
                                <cite th:text="${entries['name']}"> </cite> </a>
                                <dl th:each="info:${MenuList}" class="layui-nav-child" th:if="${entries['menuId']}==${info['parentId']}">
                                    <dd data-name="grid">
                                        <a  href="javascript:;" th:text="${info['name']}"></a>
                                        <dl class="layui-nav-child" th:each="info2:${MenuList}" th:if="${info['menuId']}==${info2['parentId']}">
                                            <dd data-name="list"><a th:lay-href="${info2['link']}" th:text="${info2['name']}">  </a></dd>
                                        </dl>
                                    </dd>
                                </dl>

                        </li>




                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/adminpage/main.html" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script>if (window.top !== window.self) { window.top.location = window.location; }</script>
<script>
    layui.config({
        base: adminurl //静态资源所在路径"
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index', function () {
        var admin = layui.admin;
        $('.layui-nav-child .logout').on('click', function () {
            reqadmin(layer, admin, '您确定要退出当前账号吗？', 'Index/Logout', "", '@Url.Content("Login/Index")');
        });

        if (GetUrlRelativePath() =="/ctm_manage") {
            window.location = "/ctm_manage/Index";
        }

        $('.removecache a').on('click', function () {
            reqadmin(layer, admin,"您确定要清除当前网站缓存吗？", 'Index/RemoveCache',"","");
        });

        //console.log(domain);LAY-system-side-menu
        $('#LAY-system-side-menu a').on('click', function () {
            var menua = $(this).attr("lay-href");
            if (menua != "") {
                $("#LAY_app_body iframe").each(function () {
                    if ($(this).attr("src") == menua) {
                        $(this).attr("src", menua);
                        return false;
                    }
                })

            }
        });
    });
    function GetUrlRelativePath() {
        var url = document.location.toString();
        var arrUrl = url.split("//");

        var start = arrUrl[1].indexOf("/");
        var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

        if (relUrl.indexOf("?") != -1) {
            relUrl = relUrl.split("?")[0];
        }
        return relUrl;
    }
</script>
</body>
</html>