<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="/admin/layui::html" ></head>
<script>
    var adminid=[[${adminuserid}]];
</script>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">管理员列表</div>
                <div class="layui-card-body">

                    <div class="layui-btn-group edit-table-page-btn listclass ">
                        <div class="layui-col-md1">
                            <button class="layui-btn  layui-btn-sm" data-type="add"> <i class="layui-icon">&#xe654;</i>添加管理员 </button>
                        </div>
                    </div>

                    <table id="edit-table-page" class="layui-table" lay-filter="edit-table-page"></table>
                    <!-- 操作列 -->
                    <!-- 操作列 -->

                    <script type="text/html" id="user_name">
                        <label>{{ d.userName}}</label>    {{ d.userId ==[[${adminuserid}]] ? '
                        <span class="layui-badge layui-bg-blue">当前登陆</span>' : '' }}
                    </script>
                    <script type="text/html" id="oper-col">


                        <a class="layui-btn  layui-btn-xs" lay-event="{{ d.user_id ==adminid ? 'allot_my' : 'allot' }}"><i class="layui-icon">&#xe642;</i> 分派权限 </a>

                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改 </a>
                        <a class="layui-btn layui-btn-{{ d.user_id ==adminid ? 'disabled' : 'danger' }}   layui-btn-xs" lay-event="{{ d.user_id ==adminid ? 'del_en' : 'del' }}"><i class="layui-icon">&#xe640;</i>删除 </a>
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<style>


    .layui-table td .laytable-cell-1-0-3 {
        text-align: center;
    }
</style>
<script>
layui.config({
    base: adminurl //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'table', 'form', 'tree'], function () {
    var table = layui.table
        , form = layui.form
        , admin = layui.admin
        , tree = layui.tree
        , $ = layui.$;

    var _edit_table = 'edit-table-page';
    table.render({
        elem: '#' + _edit_table
        , url: 'List'
        , method: 'POST'
        , request: {
            pageName: 'pagenumber' //页码的参数名称，默认：page
            , limitName: 'pagesize' //每页数据量的参数名，默认：limit
        }
        , cols: [ [

            { field: 'userId', title: '编号', sort: true }
            , { field: 'userName', title: '用户名', templet: '#user_name' }
            , { field: 'email', title: 'Email地址', edit: 'text' }
            , { field: 'addTime', title: '加入时间' }
            , { field: 'lastLogin', title: '最后登录时间' }
            , { field: 'lastIp', title: '最后登录IP'}
            , { templet: '#oper-col', title: '操作', width: 300 }
            //, { align: 'center', fixed: 'right', toolbar: '#toolsTlp' }
        ]]
        , page: true
        , response: {
            statusName: 'success' //数据状态的字段名称，默认：code
            , statusCode: 0 //成功的状态码，默认：0
            , countName: 'total' //数据总数的字段名称，默认：count
            , dataName: 'Data' //数据列表的字段名称，默认：data
        }
    })


    form.render(null, 'component-form-group');

    //监听搜索
    form.on('submit(search)', function (data) {
        var field = data.field;

        //执行重载
        table.reload(_edit_table, {
            where: field,
        });
    });
    //监听表格复选框选择
    form.on('switch(is_tuijian)', function (obj) {
        var json = JSON.parse(decodeURIComponent($(this).data('json')));
        json = table.clearCacheKey(json);
        json.is_tuijian = obj.elem.checked;
        //请求修改
        reqadmin_editinfo(layer, admin, 'Edit', json);
        //console.log(data); //所在行的所有相关数据
    });




    //监听单元格编辑
    table.on('edit(' + _edit_table + ')', function (obj) {
        var value = obj.value //得到修改后的值
            , data = obj.data //得到所在行所有键值
            , field = obj.field; //得到字段

        //请求修改
        reqadmin_editinfo(layer, admin, 'Edit', data);

    });

    //监听排序
    table.on('sort(' + _edit_table + ')', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        //console.log(obj.field); //当前排序的字段名
        //console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
        //console.log(this); //当前排序的 th 对象
        //尽管我们的 table 自带排序功能，但并没有请求服务端。
        //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
        table.reload(_edit_table, {
            initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
            , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                sort_by: obj.field
                , sort_order: obj.type
            }
        });
    });

    //监听工具条
    table.on('tool(' + _edit_table + ')', function (obj) {
        var data = obj.data;
        console.log(data)

        if (obj.event === 'del') {
            reqadmin(layer, admin, '信息删除后无法恢复数据，您确定要删除？', 'Delete', data, 'List');
        } else if (obj.event === 'edit') {
            //进行修改
            location.href = 'Edit?id=' + obj.data.userId;
        }
        else if (obj.event === 'allot') {
            //进行权限分配
            location.href = 'Allot?id=' + obj.data.userId;
        }
        else if (obj.event === 'del_en') {
            layer.msg("当前登陆管理员无法删除");
        }
        else if (obj.event === 'allot_en') {
            layer.msg("您无法给此账号分配权限");
        }
        else if (obj.event === 'allot_my') {
            layer.msg("您无法给自己分配权限");
        }
    });
    //处理批量删除等操作
    var active = {
        add: function () { //添加
            location.href = 'Add';
        }
        , all_delete: function () { //选择后删除
            var checkStatus = table.checkStatus(_edit_table)
                , data = checkStatus.data;
            if (data.length <= 0) {
                layer.msg("未选中行");
                return;
            }
            reqadmin(layer, admin, '信息删除后无法恢复数据，您确定要删除？', 'Delete', data, 'List');

        }, is_delete: function () { //批量加入回收站
            var checkStatus = table.checkStatus(_edit_table)
                , data = checkStatus.data;
            if (data.length <= 0) {
                layer.msg("未选中行");
                return;
            }
            data.forEach(function (item, index) {
                data[index].is_delete = true;
            })
            reqadmin(layer, admin, '您确定要批量加入回收站？', 'BatchEdit', data, 'List');

        }
    };

    $('.' + _edit_table + '-btn .layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });


});
</script>
</body>
</html>